{
  "presets": [
    "next/babel",
    "react",
    "es2015",
    "stage-0"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "babel-plugin-root-import",
    "react-html-attrs",
    "transform-class-properties",
    [ "transform-define", "./config/index.js" ],
    ["inline-json-import", {}]
  ]
}
